# Challenge #3 create direction layer to draw the route to four cities

In [2]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [4]:
gmaps.__version__

'0.9.0'

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [7]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,4,kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
1,5,fukue,JP,80.60,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
2,7,amalapuram,IN,89.60,16.58,82.02,swayamprabha service apartments
3,9,busselton,AU,62.01,-33.65,115.33,Observatory Guest House
4,11,cananeia,BR,67.05,-25.01,-47.93,Casa azul

In [8]:
# Using the template add hotel marks to heat map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [9]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
vacation_start = vacation_df.loc[vacation_df["City"] == "majadahonda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "calahorra"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "bereda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "vila"]

In [14]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_end["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_end["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(40.47, -3.87)
(42.31, -1.97)
(42.31, -7.54)
(42.31, -8.16)

In [16]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2])
itinerary_df

     City_ID         City Country  Max Temp    Lat   Lng            Hotel Name
121      205  majadahonda      ES     75.99  40.47 -3.87        Aravaca Garden
113      194    calahorra      ES     69.80  42.31 -1.97  Parador de Calahorra
350      572       bereda      ES     62.01  43.27 -7.54        Pazo de Verdes
338      558         vila      PT     60.01  42.03 -8.16  Hotel Castrum Villae

In [18]:
itinerary_df.reset_index(drop=True)

   City_ID         City Country  Max Temp    Lat   Lng            Hotel Name
0      205  majadahonda      ES     75.99  40.47 -3.87        Aravaca Garden
1      194    calahorra      ES     69.80  42.31 -1.97  Parador de Calahorra
2      572       bereda      ES     62.01  43.27 -7.54        Pazo de Verdes
3      558         vila      PT     60.01  42.03 -8.16  Hotel Castrum Villae

In [19]:
# Using the template add hotel marks to heat map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))